{% extends "bootstrap_ui/bootstrap-skeleton.html" %}
{% load app_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    {% block head-meta %}
        <meta charset="UTF-8">
    {% endblock %}
    {% block head-title %}
        Products
    {% endblock %}
    {% block head-css %}
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 3px solid #000000;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
    {% endblock %}
</head>
{% block body-content %}
    <body>
    <table>
        <tr>
            <th>Name</th>
            <th colspan="2">Rate</th>
            <th>Date</th>
        </tr>
        {% for product in products %}
            <tr>
                <td>{{ product.product_name|capfirst }}</td>
                <td>{{ product.product_rate }}/Quintal</td>
                <td>{{ product.product_rate|divide:2 }}/Bag</td>
                <td>{{ product.product_pub_date }}</td>
            </tr>
        {% endfor %}
    </table>
    </body>
{% endblock %}
</html>



